@{
    ViewData["Title"] = "Inscripciones";
}

<h1>Inscripciones</h1>

<p>
    <a asp-action="IndexActividad" class="btn btn-primary">Ver Inscripciones a Actividades</a>
    <a asp-action="IndexEvento" class="btn btn-primary">Ver Inscripciones a Eventos</a>
</p>

@if (User.IsInRole("Admin"))
{
    <div class="d-flex mb-3">
        <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-secondary">Volver al Dashboard</a>
    </div>
}