@{
    ViewData["Title"] = "Panel de Administración";
}

<div class="container mt-5">
    <h2 class="mb-4">Panel de Administración</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a asp-controller="Actividades" asp-action="Index" class="btn btn-primary w-100">Actividades</a>
        </div>
        <div class="col-md-4 mb-3">
            <a asp-controller="Eventos" asp-action="Index" class="btn btn-info w-100">Eventos</a>
        </div>
        <div class="col-md-4 mb-3">
            <a asp-controller="Sedes" asp-action="Index" class="btn btn-success w-100">Sedes</a>
        </div>
        <div class="col-md-4 mb-3">
            <a asp-controller="SedesActividades" asp-action="Index" class="btn btn-info w-100">Asociar Actividades a Sedes</a>
        </div>
        <div class="col-md-4 mb-3">
            <a asp-controller="Inscripciones" asp-action="Index" class="btn btn-success w-100">Visualizar Inscripciones</a>
        </div>
    </div>
</div>
